-- BIZ DAILY

SELECT*FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT;

-- EXPENSE UNIT

SELECT*FROM EXPENSE_UNIT;

SELECT*FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='UNIT EXPENSE';

-- CUSTOMER ID

SELECT DISTINCT CUSTOMER_ID FROM EXPENSE_UNIT WHERE CUSTOMER_ID IS NOT NULL;

SELECT DISTINCT A.EXP_UNIT_FIRST_NAME ,B.CUSTOMER_FIRST_NAME,A.EXP_UNIT_LAST_NAME,B.CUSTOMER_LAST_NAME,C.CUSTOMER_ID,B.CUSTOMER_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN CUSTOMER B ON A.EXP_UNIT_FIRST_NAME=B.CUSTOMER_FIRST_NAME AND( A.EXP_UNIT_LAST_NAME=B.CUSTOMER_LAST_NAME  OR A.EXP_UNIT_LAST_NAME IS NULL)
INNER JOIN EXPENSE_UNIT C ON B.CUSTOMER_ID=C.CUSTOMER_ID;  -- WHERE  A.EXP_UNIT_LAST_NAME IS NULL;

-- INVOICE DATE 1970-01-01 IS UPDATED AS 1970-01-02 NOT ISSUE

SELECT EU_INVOICE_DATE FROM EXPENSE_UNIT WHERE EU_INVOICE_DATE IS NOT NULL  ;

SELECT EXP_UNIT_INVOICE_DATE FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT 
WHERE EXP_UNIT_INVOICE_DATE IS NOT NULL AND EXP_TYPE_OF_EXPENSE='UNIT EXPENSE';

SELECT EUT.EU_INVOICE_DATE,SCB.EXP_UNIT_INVOICE_DATE 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT SCB, EXPENSE_UNIT EUT
WHERE EUT.EU_INVOICE_DATE=SCB.EXP_UNIT_INVOICE_DATE AND EXP_TYPE_OF_EXPENSE='UNIT EXPENSE' GROUP BY EUT.EU_ID ;

SELECT DISTINCT EXP_UNIT_INVOICE_DATE 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT 
WHERE EXP_UNIT_INVOICE_DATE 
NOT IN 
(SELECT EU_INVOICE_DATE FROM EXPENSE_UNIT);

-- AMOUNT MATCHED

SELECT DISTINCT EU_AMOUNT FROM EXPENSE_UNIT WHERE EU_AMOUNT IS NOT NULL;

SELECT DISTINCT EXP_UNIT_AMOUNT FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='UNIT EXPENSE' AND EXP_UNIT_AMOUNT IS NOT NULL;

SELECT DISTINCT EUT.EU_AMOUNT,SCB.EXP_UNIT_AMOUNT
FROM   SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT SCB, EXPENSE_UNIT EUT
WHERE EUT.EU_AMOUNT=SCB.EXP_UNIT_AMOUNT;

-- ECN ID

SELECT DISTINCT ECN_ID FROM EXPENSE_UNIT;

SELECT DISTINCT EXP_UNIT_GCC FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT 
WHERE EXP_TYPE_OF_EXPENSE='UNIT EXPENSE' AND EXP_UNIT_GCC IS NOT NULL;

SELECT DISTINCT A.EXP_UNIT_GCC, B.ECN_DATA,B.ECN_ID,C.ECN_ID 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A
INNER JOIN EXPENSE_CONFIGURATION B ON A.EXP_UNIT_GCC=B.ECN_DATA 
INNER JOIN EXPENSE_UNIT C ON B.ECN_ID=C.ECN_ID;
 
-- UNIT

SELECT DISTINCT EXP_UNIT_NO FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='UNIT EXPENSE';

SELECT DISTINCT UNIT_ID FROM EXPENSE_UNIT;

SELECT DISTINCT A.EXP_UNIT_NO,B.UNIT_NO,B.UNIT_ID,C.UNIT_ID 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN UNIT B ON A.EXP_UNIT_NO= B.UNIT_NO
INNER JOIN EXPENSE_UNIT  C ON B.UNIT_ID=C.UNIT_ID;

-- INVOICE ITEMS TO REPAIR THE DOOR FRAME WHICH DOESNÂ€™T LOCK PROPERLY (2ND ROOM) 

SELECT DISTINCT EXP_UNIT_INVOICE_ITEMS FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='UNIT EXPENSE';

SELECT DISTINCT EU_INVOICE_ITEMS FROM EXPENSE_UNIT ;

SELECT DISTINCT BLSF.EXP_UNIT_INVOICE_ITEMS,EU.EU_INVOICE_ITEMS 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_UNIT EU 
WHERE BLSF. EXP_TYPE_OF_EXPENSE='UNIT EXPENSE' AND BLSF.EXP_UNIT_INVOICE_ITEMS=EU.EU_INVOICE_ITEMS;

SELECT DISTINCT BLSF.EXP_UNIT_INVOICE_ITEMS,EU.EU_INVOICE_ITEMS 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF
LEFT JOIN EXPENSE_UNIT EU ON  BLSF.EXP_UNIT_INVOICE_ITEMS=EU.EU_INVOICE_ITEMS
WHERE BLSF. EXP_TYPE_OF_EXPENSE='UNIT EXPENSE' ;

SELECT * 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT 
WHERE EXP_UNIT_INVOICE_ITEMS 
NOT IN 
(SELECT EU_INVOICE_ITEMS FROM EXPENSE_UNIT);

SELECT EU_INVOICE_ITEMS FROM EXPENSE_UNIT WHERE UNIT_ID=13;

-- INVOICE FROM - NO FROM

SELECT DISTINCT EXP_UNIT_INVOICE_FROM FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='UNIT EXPENSE';

SELECT DISTINCT EU_INVOICE_FROM FROM EXPENSE_UNIT;

SELECT DISTINCT BLSF.EXP_UNIT_INVOICE_FROM,EU.EU_INVOICE_FROM 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_UNIT EU 
WHERE EXP_TYPE_OF_EXPENSE='UNIT EXPENSE' AND BLSF.EXP_UNIT_INVOICE_FROM=EU.EU_INVOICE_FROM;

-- UNIT_COMMENTS

SELECT DISTINCT EXP_UNIT_COMMENTS FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='UNIT EXPENSE';

SELECT DISTINCT EU_COMMENTS FROM EXPENSE_UNIT;

SELECT DISTINCT BLSF.EXP_UNIT_COMMENTS,EU.EU_COMMENTS 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_UNIT EU
WHERE BLSF.EXP_TYPE_OF_EXPENSE='UNIT EXPENSE' AND BLSF.EXP_UNIT_COMMENTS=EU.EU_COMMENTS;

SELECT EE.EU_COMMENTS
FROM   EXPENSE_UNIT EE
WHERE  NOT EXISTS (SELECT EXP_UNIT_COMMENTS
FROM    SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF
WHERE  BLSF.EXP_UNIT_COMMENTS=EE.EU_COMMENTS);

SELECT * FROM EXPENSE_UNIT WHERE EU_COMMENTS='20/07/2012 TO REPAIR THE DOOR FRAME WHICH DOESN�T LOCK PROPERLY (2ND ROOM) BY: RAMESH';

SELECT EU_COMMENTS FROM EXPENSE_UNIT WHERE EU_COMMENTS="/ 20/07/2012 TO REPAIR THE DOOR FRAME WHICH DOESN�T LOCK PROPERLY (2ND ROOM) BY: RAMESH";

-- ULD ID

SELECT DISTINCT USERSTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='UNIT EXPENSE' AND USERSTAMP IS NOT NULL;

SELECT DISTINCT ULD_ID FROM EXPENSE_UNIT;

SELECT DISTINCT A.USERSTAMP,B.ULD_LOGINID,B.ULD_ID,C.ULD_ID 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN USER_LOGIN_DETAILS B ON A.USERSTAMP= B.ULD_LOGINID 
INNER JOIN EXPENSE_UNIT C ON B.ULD_ID=C.ULD_ID;

-- EU_TIMESTAMP

SELECT DISTINCT TIMESTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='UNIT EXPENSE';

SELECT DISTINCT EU_TIMESTAMP FROM EXPENSE_UNIT ;

SELECT DISTINCT SUBTIME(BLSF.TIMESTAMP,'08:00:00'),EU.EU_TIMESTAMP
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_UNIT EU 
WHERE SUBTIME(BLSF.TIMESTAMP,'08:00:00')=EU.EU_TIMESTAMP AND EXP_TYPE_OF_EXPENSE='UNIT EXPENSE' ;


-- EXPENSE ELECTRICITY

SELECT*FROM EXPENSE_ELECTRICITY;

SELECT*FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY';

-- EDE_ID

SELECT DISTINCT EDE_ID FROM EXPENSE_ELECTRICITY;

SELECT DISTINCT EDE_ID FROM EXPENSE_DETAIL_ELECTRICITY;

SELECT DISTINCT EE.EDE_ID,EDE.EDE_ID FROM EXPENSE_ELECTRICITY EE,EXPENSE_DETAIL_ELECTRICITY EDE WHERE EE.EDE_ID=EDE.EDE_ID;

-- INOVICE DATE

SELECT DISTINCT EXP_ELC_INVOICE_DATE FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY';

SELECT DISTINCT EE_INVOICE_DATE FROM EXPENSE_ELECTRICITY;

SELECT DISTINCT BLSF.EXP_ELC_INVOICE_DATE,EE.EE_INVOICE_DATE 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_ELECTRICITY EE
WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY' AND BLSF.EXP_ELC_INVOICE_DATE=EE.EE_INVOICE_DATE;

-- FROM PERIOD

SELECT DISTINCT EXP_ELC_FROM_PERIOD  FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY' ;

SELECT DISTINCT EE_FROM_PERIOD FROM EXPENSE_ELECTRICITY;

SELECT DISTINCT BLSF.EXP_ELC_FROM_PERIOD,EE.EE_FROM_PERIOD 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_ELECTRICITY EE
WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY' AND BLSF.EXP_ELC_FROM_PERIOD=EE.EE_FROM_PERIOD;

-- TO PERIOD

SELECT DISTINCT EXP_ELC_TO_PERIOD  FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY';

SELECT DISTINCT EE_TO_PERIOD FROM EXPENSE_ELECTRICITY;

SELECT DISTINCT BLSF.EXP_ELC_TO_PERIOD,EE.EE_TO_PERIOD 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_ELECTRICITY EE 
WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY' AND BLSF.EXP_ELC_TO_PERIOD=EE.EE_TO_PERIOD;

-- ECN ID

SELECT DISTINCT ECN_ID FROM EXPENSE_ELECTRICITY;

SELECT DISTINCT EXP_ELC_INVOICE_TO FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT 
WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY' AND EXP_ELC_INVOICE_TO IS NOT NULL;

SELECT DISTINCT A.EXP_ELC_INVOICE_TO, B.ECN_DATA,B.ECN_ID,C.ECN_ID 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A
INNER JOIN EXPENSE_CONFIGURATION B ON A.EXP_ELC_INVOICE_TO=B.ECN_DATA 
INNER JOIN EXPENSE_ELECTRICITY C ON B.ECN_ID=C.ECN_ID;
 
-- EE_AMOUNT DEPOSIT, REFUND ARE COMBINED INTO AMOUNT IN DEST

SELECT DISTINCT EXP_ELC_AMOUNT  FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT
WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY' AND EXP_ELC_AMOUNT IS NOT NULL ;

SELECT  DISTINCT EE_AMOUNT FROM EXPENSE_ELECTRICITY;

SELECT DISTINCT BLSF.EXP_ELC_AMOUNT,EE.EE_AMOUNT 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF ,EXPENSE_ELECTRICITY EE 
WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY' AND BLSF.EXP_ELC_AMOUNT=EE.EE_AMOUNT;

SELECT DISTINCT EE_AMOUNT FROM EXPENSE_ELECTRICITY
WHERE  EE_AMOUNT NOT IN 
(SELECT EXP_ELC_AMOUNT
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT);

SELECT DISTINCT BLSF.EXP_ELC_AMOUNT
FROM   SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF
WHERE  NOT EXISTS 
(SELECT EE.EE_AMOUNT
FROM   EXPENSE_ELECTRICITY EE
WHERE  BLSF.EXP_ELC_AMOUNT=EE.EE_AMOUNT);

SELECT DISTINCT EE.EE_AMOUNT
FROM   EXPENSE_ELECTRICITY EE
WHERE  NOT EXISTS
(SELECT BLSF.EXP_ELC_AMOUNT
FROM   SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF
WHERE  BLSF.EXP_ELC_AMOUNT=EE.EE_AMOUNT);

SELECT * FROM EXPENSE_ELECTRICITY WHERE EE_AMOUNT=436.57;

SELECT * FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_ELC_AMOUNT=436.57;

SELECT * FROM EXPENSE_ELECTRICITY WHERE EE_AMOUNT=250;

SELECT EXP_ELC_DEPOSIT_REFUND FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_ELC_DEPOSIT_REFUND IS NOT NULL;

SELECT EXP_ELC_DEPOSIT FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_ELC_DEPOSIT IS NOT NULL;

-- EE_COMMENTS

SELECT  DISTINCT EXP_ELC_COMMENTS  FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY' AND EXP_ELC_COMMENTS IS NOT NULL;

SELECT   DISTINCT EE_COMMENTS FROM EXPENSE_ELECTRICITY WHERE EE_COMMENTS IS NOT NULL;

SELECT  DISTINCT BLSF.EXP_ELC_COMMENTS,EE.EE_COMMENTS 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_ELECTRICITY EE
WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY' AND BLSF.EXP_ELC_COMMENTS=EE.EE_COMMENTS;

-- ULD_ID

SELECT  DISTINCT USERSTAMP  FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY';-- AND EXP_ELC_COMMENTS IS NOT NULL;

SELECT   DISTINCT ULD_ID FROM EXPENSE_ELECTRICITY; -- WHERE EE_COMMENTS IS NOT NULL;

SELECT DISTINCT A.USERSTAMP,B.ULD_LOGINID,B.ULD_ID,C.ULD_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN USER_LOGIN_DETAILS B ON A.USERSTAMP= B.ULD_LOGINID AND A.EXP_TYPE_OF_EXPENSE='ELECTRICITY'
INNER JOIN EXPENSE_ELECTRICITY C ON B.ULD_ID=C.ULD_ID;

-- TIMESTAMP

SELECT DISTINCT TIMESTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY';

SELECT DISTINCT EE_TIMESTAMP FROM EXPENSE_ELECTRICITY ;

SELECT DISTINCT  SUBTIME(BLSF.TIMESTAMP,'08:00:00'),EE.EE_TIMESTAMP 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_ELECTRICITY EE 
WHERE EXP_TYPE_OF_EXPENSE='ELECTRICITY' AND SUBTIME(BLSF.TIMESTAMP,'08:00:00')=EE.EE_TIMESTAMP;

-- EXPENSE_STARHUB

SELECT*FROM EXPENSE_STARHUB;

SELECT*FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='STAR HUB';

-- INVOICE DATE 1970-01-01 IS UPDATED AS 1970-01-02

SELECT DISTINCT  EXP_SHB_INVOICE_DATE  FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_SHB_INVOICE_DATE IS NOT NULL;

SELECT DISTINCT ESH_INVOICE_DATE FROM EXPENSE_STARHUB ;

SELECT DISTINCT BLSF.EXP_SHB_INVOICE_DATE,EE.ESH_INVOICE_DATE 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_STARHUB EE 
WHERE  BLSF.EXP_SHB_INVOICE_DATE=EE.ESH_INVOICE_DATE;

-- FROM PERIOD

SELECT DISTINCT  EXP_SHB_FROM_PERIOD  FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_SHB_FROM_PERIOD IS NOT NULL;

SELECT DISTINCT ESH_FROM_PERIOD FROM EXPENSE_STARHUB ;

SELECT DISTINCT BLSF.EXP_SHB_FROM_PERIOD,EE.ESH_FROM_PERIOD
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_STARHUB EE
WHERE  BLSF.EXP_SHB_FROM_PERIOD=EE.ESH_FROM_PERIOD;

-- TO PERIOD

SELECT DISTINCT  EXP_SHB_TO_PERIOD  FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_SHB_TO_PERIOD IS NOT NULL;

SELECT DISTINCT ESH_TO_PERIOD FROM EXPENSE_STARHUB ;

SELECT DISTINCT BLSF.EXP_SHB_TO_PERIOD,EE.ESH_TO_PERIOD
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_STARHUB EE
WHERE  BLSF.EXP_SHB_TO_PERIOD=EE.ESH_TO_PERIOD;

-- ESH_AMOUNT

SELECT DISTINCT  EXP_SHB_AMOUNT FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_SHB_AMOUNT IS NOT NULL;

SELECT DISTINCT ESH_AMOUNT FROM EXPENSE_STARHUB ;

SELECT DISTINCT BLSF.EXP_SHB_AMOUNT,EE.ESH_AMOUNT
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_STARHUB EE
WHERE  BLSF.EXP_SHB_AMOUNT=EE.ESH_AMOUNT;

-- ESH_COMMENTS STARHUB TV Â€“ 95.00 HOME BROADBAND Â€“ 116.00 MOBILE Â€“ 549.88 DIGITAL VOICE Â€“ 1.96 GST Â€“ 37.82 

SELECT DISTINCT  EXP_SHB_COMMENTS FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_SHB_COMMENTS IS NOT NULL;

SELECT  DISTINCT ESH_COMMENTS FROM EXPENSE_STARHUB WHERE ESH_COMMENTS IS NOT NULL;

SELECT  DISTINCT BLSF.EXP_SHB_COMMENTS,EE.ESH_COMMENTS 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_STARHUB EE 
WHERE  BLSF.EXP_SHB_COMMENTS=EE.ESH_COMMENTS;

SELECT *
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT
WHERE EXP_SHB_COMMENTS NOT IN      
(        
SELECT  ESH_COMMENTS
FROM EXPENSE_STARHUB     
);

-- ULD ID

SELECT  DISTINCT USERSTAMP  FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='STAR HUB';-- AND EXP_ELC_COMMENTS IS NOT NULL;

SELECT  DISTINCT ULD_ID FROM EXPENSE_STARHUB; -- WHERE EE_COMMENTS IS NOT NULL;

SELECT DISTINCT A.USERSTAMP,B.ULD_LOGINID,B.ULD_ID,C.ULD_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN USER_LOGIN_DETAILS B ON A.USERSTAMP= B.ULD_LOGINID AND A.EXP_TYPE_OF_EXPENSE='STAR HUB'
INNER JOIN EXPENSE_STARHUB C ON B.ULD_ID=C.ULD_ID;

-- ESH_TIMESTAMP

SELECT DISTINCT TIMESTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='STAR HUB' ;

SELECT DISTINCT ESH_TIMESTAMP FROM EXPENSE_STARHUB;

SELECT DISTINCT  SUBTIME(BLSF.TIMESTAMP,'08:00:00'),EE.ESH_TIMESTAMP 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_STARHUB EE 
WHERE EXP_TYPE_OF_EXPENSE='STAR HUB' AND SUBTIME(BLSF.TIMESTAMP,'08:00:00')=EE.ESH_TIMESTAMP;

-- ALL VALUES ARE MATCHED WITH BIZ DAILY AND EXPENSE STARHUB

SELECT DISTINCT ESH_AMOUNT, ESH_INVOICE_DATE FROM EXPENSE_STARHUB;

SELECT DISTINCT EXP_SHB_AMOUNT,EXP_SHB_INVOICE_DATE FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT;

SELECT DISTINCT ESH.ESH_AMOUNT,STCB.EXP_SHB_AMOUNT ,ESH.ESH_INVOICE_DATE,STCB.EXP_SHB_INVOICE_DATE 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT STCB, EXPENSE_STARHUB ESH 
WHERE ESH.ESH_AMOUNT=STCB.EXP_SHB_AMOUNT AND ESH.ESH_INVOICE_DATE=STCB.EXP_SHB_INVOICE_DATE;

-- EDSH_ID

SELECT A.EDSH_ID, B.EDSH_ID FROM EXPENSE_DETAIL_STARHUB A, EXPENSE_STARHUB B WHERE  A.EDSH_ID= B.EDSH_ID;

-- EXPENSE DIGITAL VOICE

SELECT*FROM EXPENSE_DIGITAL_VOICE;  

SELECT*FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='DIGITAL VOICE';

-- INVOICE_DATE

SELECT DISTINCT EDV_INVOICE_DATE FROM EXPENSE_DIGITAL_VOICE;

SELECT DISTINCT EXP_DIGITAL_INVOICE_DATE FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='DIGITAL VOICE';

SELECT DISTINCT BLSF.EXP_DIGITAL_INVOICE_DATE,EE.EDV_INVOICE_DATE 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_DIGITAL_VOICE EE
WHERE  BLSF.EXP_DIGITAL_INVOICE_DATE=EE.EDV_INVOICE_DATE;

-- FROM_PERIOD

SELECT DISTINCT EDV_FROM_PERIOD FROM EXPENSE_DIGITAL_VOICE;

SELECT  DISTINCT EXP_DIGITAL_FROM_PERIOD FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='DIGITAL VOICE';

SELECT DISTINCT BLSF.EXP_DIGITAL_FROM_PERIOD,EE.EDV_FROM_PERIOD  
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_DIGITAL_VOICE EE 
WHERE  BLSF.EXP_DIGITAL_FROM_PERIOD=EE.EDV_FROM_PERIOD;

-- TO_PERIOD

SELECT DISTINCT EDV_TO_PERIOD FROM EXPENSE_DIGITAL_VOICE;

SELECT DISTINCT EXP_DIGITAL_TO_PERIOD FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='DIGITAL VOICE';

SELECT DISTINCT BLSF.EXP_DIGITAL_TO_PERIOD,EE.EDV_TO_PERIOD 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_DIGITAL_VOICE EE
WHERE  BLSF.EXP_DIGITAL_TO_PERIOD=EE.EDV_TO_PERIOD;

-- AMOUNT

SELECT DISTINCT EDV_AMOUNT FROM EXPENSE_DIGITAL_VOICE;

SELECT DISTINCT EXP_DIGITAL_AMOUNT FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='DIGITAL VOICE';

SELECT DISTINCT BLSF.EXP_DIGITAL_AMOUNT,EE.EDV_AMOUNT 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_DIGITAL_VOICE EE
WHERE  BLSF.EXP_DIGITAL_AMOUNT=EE.EDV_AMOUNT;

-- EDV_COMMENTS

SELECT DISTINCT EDV_COMMENTS FROM EXPENSE_DIGITAL_VOICE ;

SELECT DISTINCT EXP_DIGITAL_COMMENTS FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='DIGITAL VOICE';

SELECT DISTINCT BLSF.EXP_DIGITAL_COMMENTS,EE.EDV_COMMENTS
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_DIGITAL_VOICE EE
WHERE  BLSF.EXP_DIGITAL_COMMENTS=EE.EDV_COMMENTS;

-- ULD_ID

SELECT  DISTINCT USERSTAMP  FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='DIGITAL VOICE';-- AND EXP_ELC_COMMENTS IS NOT NULL;

SELECT  DISTINCT ULD_ID FROM EXPENSE_DIGITAL_VOICE; -- WHERE EE_COMMENTS IS NOT NULL;

SELECT DISTINCT A.USERSTAMP,B.ULD_LOGINID,B.ULD_ID,C.ULD_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN USER_LOGIN_DETAILS B ON A.USERSTAMP= B.ULD_LOGINID
INNER JOIN EXPENSE_DIGITAL_VOICE C ON B.ULD_ID=C.ULD_ID;

-- TIMESTAMP

SELECT DISTINCT TIMESTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='DIGITAL VOICE' ;

SELECT DISTINCT EDV_TIMESTAMP FROM EXPENSE_DIGITAL_VOICE;

SELECT DISTINCT  SUBTIME(BLSF.TIMESTAMP,'08:00:00'),EE.EDV_TIMESTAMP 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_DIGITAL_VOICE EE
WHERE EXP_TYPE_OF_EXPENSE='STAR HUB' AND SUBTIME(BLSF.TIMESTAMP,'08:00:00')=EE.EDV_TIMESTAMP;

-- EXPENSE FACULTY USE

SELECT*FROM EXPENSE_FACILITY_USE;

SELECT*FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='FACILITY USE';

-- UNIT 

SELECT DISTINCT EXP_UNIT_NO FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE  EXP_TYPE_OF_EXPENSE='FACILITY USE';

SELECT DISTINCT UNIT_ID FROM EXPENSE_FACILITY_USE;

SELECT DISTINCT A.EXP_UNIT_NO,B.UNIT_NO,B.UNIT_ID,C.UNIT_ID 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN UNIT B ON A.EXP_UNIT_NO= B.UNIT_NO
INNER JOIN EXPENSE_FACILITY_USE  C ON B.UNIT_ID=C.UNIT_ID;

-- INVOICE_DATE

SELECT DISTINCT EFU_INVOICE_DATE FROM EXPENSE_FACILITY_USE;

SELECT DISTINCT EXP_FACILITY_INVOICE_DATE FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='FACILITY USE';

SELECT DISTINCT BLSF.EXP_FACILITY_INVOICE_DATE,EE.EFU_INVOICE_DATE
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_FACILITY_USE EE
WHERE  BLSF.EXP_FACILITY_INVOICE_DATE=EE.EFU_INVOICE_DATE;

-- EFU_DEPOSIT

SELECT DISTINCT EFU_DEPOSIT FROM EXPENSE_FACILITY_USE;

SELECT DISTINCT EXP_FACILITY_DEPOSIT FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='FACILITY USE';

SELECT DISTINCT BLSF.EXP_FACILITY_DEPOSIT,EE.EFU_DEPOSIT
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_FACILITY_USE EE
WHERE  BLSF.EXP_FACILITY_DEPOSIT=EE.EFU_DEPOSIT;

-- EFU_AMOUNT

SELECT DISTINCT EFU_AMOUNT FROM EXPENSE_FACILITY_USE;

SELECT DISTINCT EXP_FACILITY_AMOUNT FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='FACILITY USE';

SELECT DISTINCT BLSF.EXP_FACILITY_AMOUNT,EE.EFU_AMOUNT
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_FACILITY_USE EE
WHERE  BLSF.EXP_FACILITY_AMOUNT=EE.EFU_AMOUNT;

-- EFU_COMMENTS

SELECT DISTINCT EFU_COMMENTS FROM EXPENSE_FACILITY_USE WHERE EFU_COMMENTS IS NOT NULL;

SELECT DISTINCT EXP_FACILITY_COMMENTS FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='FACILITY USE' AND EXP_FACILITY_COMMENTS IS NOT NULL;

SELECT  BLSF.EXP_FACILITY_COMMENTS,EE.EFU_COMMENTS 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_FACILITY_USE EE
WHERE  BLSF.EXP_FACILITY_COMMENTS=EE.EFU_COMMENTS;

-- EFU_TIMESTAMP

SELECT DISTINCT EFU_TIMESTAMP FROM EXPENSE_FACILITY_USE;

SELECT DISTINCT TIMESTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='FACILITY USE';

SELECT DISTINCT  SUBTIME(BLSF.TIMESTAMP,'08:00:00'),EE.EFU_TIMESTAMP
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_FACILITY_USE EE
WHERE EXP_TYPE_OF_EXPENSE='STAR HUB' AND SUBTIME(BLSF.TIMESTAMP,'08:00:00')=EE.EFU_TIMESTAMP;

-- EXPENSE CARPARK

SELECT*FROM EXPENSE_CARPARK;

SELECT*FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='CAR PARK';

-- EDCP_ID

SELECT DISTINCT EDCP_ID FROM EXPENSE_CARPARK;

SELECT DISTINCT EDCP_ID FROM EXPENSE_DETAIL_CARPARK;

SELECT DISTINCT EC.EDCP_ID,EDC.EDCP_ID FROM EXPENSE_CARPARK EC,EXPENSE_DETAIL_CARPARK EDC WHERE EC.EDCP_ID=EDC.EDCP_ID;

-- INVOICE DATE

SELECT DISTINCT EXP_CAR_INVOICE_DATE FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='CAR PARK';

SELECT DISTINCT ECP_INVOICE_DATE FROM EXPENSE_CARPARK;

SELECT DISTINCT BLSF.EXP_CAR_INVOICE_DATE,ECP.ECP_INVOICE_DATE
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_CARPARK ECP
WHERE EXP_TYPE_OF_EXPENSE='CAR PARK' AND BLSF.EXP_CAR_INVOICE_DATE=ECP.ECP_INVOICE_DATE;

-- FROM PERIOD

SELECT DISTINCT EXP_CAR_START_PERIOD FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='CAR PARK';

SELECT DISTINCT ECP_FROM_PERIOD FROM EXPENSE_CARPARK;

SELECT DISTINCT BLSF.EXP_CAR_START_PERIOD,ECP.ECP_FROM_PERIOD 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_CARPARK ECP
WHERE  EXP_TYPE_OF_EXPENSE='CAR PARK' AND BLSF.EXP_CAR_START_PERIOD=ECP.ECP_FROM_PERIOD;

-- TO PERIOD

SELECT DISTINCT EXP_CAR_END_PERIOD FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='CAR PARK';

SELECT DISTINCT ECP_TO_PERIOD FROM EXPENSE_CARPARK;

SELECT DISTINCT BLSF.EXP_CAR_END_PERIOD,ECP.ECP_TO_PERIOD 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_CARPARK ECP
WHERE  EXP_TYPE_OF_EXPENSE='CAR PARK' AND BLSF.EXP_CAR_END_PERIOD=ECP.ECP_TO_PERIOD ;

-- CAR AMOUNT

SELECT  DISTINCT EXP_CAR_AMOUNT FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='CAR PARK';

SELECT DISTINCT ECP_AMOUNT FROM EXPENSE_CARPARK;

SELECT DISTINCT BLSF.EXP_CAR_AMOUNT,ECP.ECP_AMOUNT
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_CARPARK ECP
WHERE EXP_TYPE_OF_EXPENSE='CAR PARK' AND BLSF.EXP_CAR_AMOUNT=ECP.ECP_AMOUNT;

-- CAR COMMENTS 

SELECT DISTINCT EXP_CAR_COMMENTS FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='CAR PARK' AND EXP_CAR_COMMENTS IS NOT NULL;

SELECT DISTINCT ECP_COMMENTS FROM EXPENSE_CARPARK WHERE ECP_COMMENTS IS NOT NULL;

SELECT DISTINCT BLSF.EXP_CAR_COMMENTS,ECP.ECP_COMMENTS 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_CARPARK ECP
WHERE EXP_TYPE_OF_EXPENSE='CAR PARK' AND BLSF.EXP_CAR_COMMENTS=ECP.ECP_COMMENTS;

-- TIMESTAMP

SELECT DISTINCT TIMESTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='CAR PARK';

SELECT DISTINCT ECP_TIMESTAMP FROM EXPENSE_CARPARK;

SELECT DISTINCT SUBTIME(BLSF.TIMESTAMP,'08:00:00'),ECP.ECP_TIMESTAMP 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_CARPARK ECP 
WHERE EXP_TYPE_OF_EXPENSE='CAR PARK' AND SUBTIME(BLSF.TIMESTAMP,'08:00:00')=ECP.ECP_TIMESTAMP;

-- EXPENSE MOVING IN AND OUT

SELECT*FROM EXPENSE_MOVING_IN_AND_OUT;

SELECT*FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='MOVING IN OUT';

-- UNIT_ID

SELECT DISTINCT EXP_UNIT_NO FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='MOVING IN OUT';

SELECT DISTINCT UNIT_ID FROM EXPENSE_MOVING_IN_AND_OUT;

SELECT DISTINCT A.EXP_UNIT_NO,B.UNIT_NO,B.UNIT_ID,C.UNIT_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN UNIT B ON A.EXP_UNIT_NO= B.UNIT_NO
INNER JOIN EXPENSE_MOVING_IN_AND_OUT  C ON B.UNIT_ID=C.UNIT_ID;

-- INVOICE DATE

SELECT DISTINCT EXP_MOVI_IN_OUT_INVOICE_DATE FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='MOVING IN OUT';

SELECT DISTINCT EMIO_INVOICE_DATE FROM EXPENSE_MOVING_IN_AND_OUT;

SELECT DISTINCT BLSF.EXP_MOVI_IN_OUT_INVOICE_DATE,EM.EMIO_INVOICE_DATE
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_MOVING_IN_AND_OUT EM
WHERE BLSF.EXP_MOVI_IN_OUT_INVOICE_DATE=EM.EMIO_INVOICE_DATE;

-- AMOUNT

SELECT DISTINCT EXP_MOVI_IN_OUT_AMOUNT FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='MOVING IN OUT';

SELECT DISTINCT EMIO_AMOUNT FROM EXPENSE_MOVING_IN_AND_OUT;

SELECT DISTINCT BLSF.EXP_MOVI_IN_OUT_AMOUNT,EM.EMIO_AMOUNT 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_MOVING_IN_AND_OUT EM
WHERE BLSF.EXP_MOVI_IN_OUT_AMOUNT=EM.EMIO_AMOUNT;

-- COMMENTS

SELECT DISTINCT EXP_MOVI_IN_OUT_COMMENTS FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='MOVING IN OUT';

SELECT DISTINCT EMIO_COMMENTS FROM EXPENSE_MOVING_IN_AND_OUT;

SELECT DISTINCT BLSF.EXP_MOVI_IN_OUT_COMMENTS,EM.EMIO_COMMENTS
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_MOVING_IN_AND_OUT EM 
WHERE BLSF.EXP_MOVI_IN_OUT_COMMENTS=EM.EMIO_COMMENTS;

-- ULD ID

SELECT DISTINCT A.USERSTAMP,B.ULD_LOGINID,B.ULD_ID,C.ULD_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN USER_LOGIN_DETAILS B ON A.USERSTAMP= B.ULD_LOGINID
INNER JOIN EXPENSE_MOVING_IN_AND_OUT  C ON B.ULD_ID=C.ULD_ID;

-- TIMESTAMP

SELECT DISTINCT TIMESTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='MOVING IN OUT';

SELECT DISTINCT EMIO_TIMESTAMP FROM EXPENSE_MOVING_IN_AND_OUT;

SELECT DISTINCT SUBTIME(BLSF.TIMESTAMP,'08:00:00'),EM.EMIO_TIMESTAMP
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_MOVING_IN_AND_OUT EM 
WHERE SUBTIME(BLSF.TIMESTAMP,'08:00:00')=EM.EMIO_TIMESTAMP;

-- EXPENSE AIRCON SERVICE

SELECT *FROM EXPENSE_AIRCON_SERVICE;

SELECT*FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='AIRCON SERVICES';

-- EDAS_ID 7 IS MISSED

SELECT DISTINCT EDAS_ID FROM EXPENSE_AIRCON_SERVICE;

SELECT DISTINCT EDAS_ID FROM EXPENSE_DETAIL_AIRCON_SERVICE;

SELECT DISTINCT EAS.EDAS_ID,EDAS.EDAS_ID FROM EXPENSE_AIRCON_SERVICE EAS,EXPENSE_DETAIL_AIRCON_SERVICE EDAS WHERE EAS.EDAS_ID=EDAS.EDAS_ID;

-- DATE

SELECT DISTINCT EXP_AIRCON_SERVICED_DATE FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='AIRCON SERVICES';

SELECT DISTINCT EAS_DATE FROM EXPENSE_AIRCON_SERVICE;

SELECT DISTINCT BLSF.EXP_AIRCON_SERVICED_DATE,EAS.EAS_DATE
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_AIRCON_SERVICE EAS 
WHERE BLSF.EXP_AIRCON_SERVICED_DATE=EAS.EAS_DATE;

-- COMMENTS

SELECT  DISTINCT EXP_AIRCON_COMMENTS FROM  SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='AIRCON SERVICES' AND EXP_AIRCON_COMMENTS IS NOT NULL;

SELECT  DISTINCT EAS_COMMENTS FROM EXPENSE_AIRCON_SERVICE WHERE EAS_COMMENTS IS NOT NULL;

SELECT  DISTINCT BLSF.EXP_AIRCON_COMMENTS,EAS.EAS_COMMENTS 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_AIRCON_SERVICE EAS
WHERE BLSF.EXP_AIRCON_COMMENTS=EAS.EAS_COMMENTS;

-- ULD_ID

SELECT DISTINCT A.USERSTAMP,B.ULD_LOGINID,B.ULD_ID,C.ULD_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN USER_LOGIN_DETAILS B ON A.USERSTAMP= B.ULD_LOGINID
INNER JOIN EXPENSE_AIRCON_SERVICE  C ON B.ULD_ID=C.ULD_ID;

-- TIMESTAMP

SELECT DISTINCT TIMESTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='AIRCON SERVICES';

SELECT DISTINCT EAS_TIMESTAMP FROM EXPENSE_AIRCON_SERVICE;

SELECT DISTINCT SUBTIME(BLSF.TIMESTAMP,'08:00:00'),EAS.EAS_TIMESTAMP
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_AIRCON_SERVICE EAS
WHERE SUBTIME(BLSF.TIMESTAMP,'08:00:00')=EAS.EAS_TIMESTAMP;

-- ALL VALUE MATCHED THE EXPENCE AIRCON SERVICE BY AND THE SOURCE TABLE BIZ DAILY SCDB FORMAT

SELECT *FROM EXPENSE_AIRCON_SERVICE_BY;

SELECT DISTINCT EXP_AIRCON_SERVICED_BY FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_AIRCON_SERVICED_BY IS NOT NULL;

-- EXPENSE PURCHASE NEW CARD

SELECT *FROM EXPENSE_PURCHASE_NEW_CARD;

SELECT*FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PURCHASE NEW ACCESS CARD';

-- UNIT_ID

SELECT DISTINCT EXP_UNIT_NO FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PURCHASE NEW ACCESS CARD';

SELECT DISTINCT UNIT_ID FROM EXPENSE_PURCHASE_NEW_CARD ;

SELECT DISTINCT A.EXP_UNIT_NO,B.UNIT_NO,B.UNIT_ID,C.UNIT_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN UNIT B ON A.EXP_UNIT_NO=B.UNIT_NO
INNER JOIN EXPENSE_PURCHASE_NEW_CARD C ON B.UNIT_ID=C.UNIT_ID ;

-- CARD NUMBER

SELECT DISTINCT EXP_CARD_NUMBER FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PURCHASE NEW ACCESS CARD';

SELECT DISTINCT EPNC_NUMBER FROM EXPENSE_PURCHASE_NEW_CARD;

SELECT DISTINCT BLSF.EXP_CARD_NUMBER,NC.EPNC_NUMBER
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_PURCHASE_NEW_CARD NC 
WHERE BLSF.EXP_CARD_NUMBER=NC.EPNC_NUMBER;

-- INVOICE_DATE

SELECT DISTINCT EXP_CARD_PURCHASE_DATE FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PURCHASE NEW ACCESS CARD';

SELECT DISTINCT EPNC_INVOICE_DATE FROM EXPENSE_PURCHASE_NEW_CARD;

SELECT DISTINCT BLSF.EXP_CARD_PURCHASE_DATE,NC.EPNC_INVOICE_DATE 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_PURCHASE_NEW_CARD NC
WHERE BLSF.EXP_CARD_PURCHASE_DATE=NC.EPNC_INVOICE_DATE;

-- AMOUNT

SELECT DISTINCT EXP_CARD_AMOUNT FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PURCHASE NEW ACCESS CARD';

SELECT DISTINCT EPNC_AMOUNT FROM EXPENSE_PURCHASE_NEW_CARD;

SELECT DISTINCT BLSF.EXP_CARD_AMOUNT,NC.EPNC_AMOUNT
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_PURCHASE_NEW_CARD NC
WHERE BLSF.EXP_CARD_AMOUNT=NC.EPNC_AMOUNT;

-- COMMENTS

SELECT DISTINCT EXP_CARD_COMMENTS FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PURCHASE NEW ACCESS CARD' AND EXP_CARD_COMMENTS IS NOT NULL;

SELECT DISTINCT EPNC_COMMENTS FROM EXPENSE_PURCHASE_NEW_CARD WHERE EPNC_COMMENTS IS NOT NULL;

SELECT DISTINCT BLSF.EXP_CARD_COMMENTS,NC.EPNC_COMMENTS 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_PURCHASE_NEW_CARD NC 
WHERE BLSF.EXP_CARD_COMMENTS=NC.EPNC_COMMENTS;

-- ULD_ID

SELECT DISTINCT A.USERSTAMP,B.ULD_LOGINID,B.ULD_ID,C.ULD_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A
INNER JOIN USER_LOGIN_DETAILS B ON A.USERSTAMP= B.ULD_LOGINID
INNER JOIN EXPENSE_PURCHASE_NEW_CARD  C ON B.ULD_ID=C.ULD_ID;

-- TIMESTAMP

SELECT DISTINCT TIMESTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PURCHASE NEW ACCESS CARD';

SELECT DISTINCT EPNC_TIMESTAMP FROM EXPENSE_PURCHASE_NEW_CARD;

SELECT DISTINCT SUBTIME(BLSF.TIMESTAMP,'08:00:00'),EAS.EPNC_TIMESTAMP
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_PURCHASE_NEW_CARD EAS 
WHERE SUBTIME(BLSF.TIMESTAMP,'08:00:00')=EAS.EPNC_TIMESTAMP;

-- EXPENSE PETTY CASH

SELECT*FROM EXPENSE_PETTY_CASH;

SELECT *FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PETTY CASH';

-- EPC_DATE

SELECT DISTINCT EXP_PETTY_DATE FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_PETTY_DATE IS NOT NULL ;

SELECT DISTINCT EPC_DATE FROM EXPENSE_PETTY_CASH;

SELECT DISTINCT BLSF.EXP_PETTY_DATE,EPC.EPC_DATE 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_PETTY_CASH EPC 
WHERE BLSF.EXP_PETTY_DATE=EPC.EPC_DATE;

-- EXPENSE CASH IN

SELECT DISTINCT EXP_PETTY_CASH_IN FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PETTY CASH' AND EXP_PETTY_CASH_IN IS NOT NULL;

SELECT DISTINCT EPC_CASH_IN FROM EXPENSE_PETTY_CASH WHERE EPC_CASH_IN IS NOT NULL;

SELECT DISTINCT BLSF.EXP_PETTY_CASH_IN , PC.EPC_CASH_IN 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF, EXPENSE_PETTY_CASH PC
WHERE BLSF.EXP_PETTY_CASH_IN=PC.EPC_CASH_IN AND BLSF.EXP_TYPE_OF_EXPENSE='PETTY CASH';

-- EXPENSE CASH OUT

SELECT DISTINCT EXP_PETTY_CASH_OUT FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PETTY CASH' AND EXP_PETTY_CASH_OUT IS NOT NULL;

SELECT DISTINCT EPC_CASH_OUT FROM EXPENSE_PETTY_CASH WHERE EPC_CASH_OUT IS NOT NULL;

SELECT DISTINCT BLSF.EXP_PETTY_CASH_OUT , PC.EPC_CASH_OUT
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF, EXPENSE_PETTY_CASH PC
WHERE BLSF.EXP_PETTY_CASH_OUT=PC.EPC_CASH_OUT AND BLSF.EXP_TYPE_OF_EXPENSE='PETTY CASH';

-- EPC BALANCE

SELECT DISTINCT EXP_PETTY_CURRENT_BAL FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PETTY CASH';

SELECT DISTINCT EPC_BALANCE FROM EXPENSE_PETTY_CASH;

SELECT DISTINCT BLSF.EXP_PETTY_CURRENT_BAL,EPC.EPC_BALANCE 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_PETTY_CASH EPC 
WHERE EXP_TYPE_OF_EXPENSE='PETTY CASH'AND BLSF.EXP_PETTY_CURRENT_BAL=EPC.EPC_BALANCE;

SELECT EXP_PETTY_DATE ,EXP_PETTY_CURRENT_BAL 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PETTY CASH';

-- EPC INVOICE ITEMS

SELECT DISTINCT EXP_PETTY_INVOICE_ITEMS FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PETTY CASH';

SELECT DISTINCT EPC_INVOICE_ITEMS FROM EXPENSE_PETTY_CASH;

SELECT DISTINCT BLSF.EXP_PETTY_INVOICE_ITEMS,EPC.EPC_INVOICE_ITEMS 
FROM  SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_PETTY_CASH EPC 
WHERE EXP_TYPE_OF_EXPENSE='PETTY CASH' AND BLSF.EXP_PETTY_INVOICE_ITEMS=EPC.EPC_INVOICE_ITEMS;

-- EPC COMMENTS

SELECT DISTINCT EXP_PETTY_COMMENTS FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PETTY CASH' AND EXP_PETTY_COMMENTS IS NOT NULL;

SELECT  DISTINCT EPC_COMMENTS FROM EXPENSE_PETTY_CASH WHERE EPC_COMMENTS IS NOT NULL;

SELECT DISTINCT BLSF.EXP_PETTY_COMMENTS,EPC.EPC_COMMENTS 
FROM  SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_PETTY_CASH EPC 
WHERE EXP_TYPE_OF_EXPENSE='PETTY CASH' AND BLSF.EXP_PETTY_COMMENTS=EPC.EPC_COMMENTS;

-- TIMESTAMP

SELECT DISTINCT TIMESTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='PETTY CASH';

SELECT DISTINCT EPC_TIMESTAMP FROM EXPENSE_PETTY_CASH ;

SELECT DISTINCT SUBTIME(BLSF.TIMESTAMP,'08:00:00'),EPC.EPC_TIMESTAMP 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_PETTY_CASH EPC
WHERE EXP_TYPE_OF_EXPENSE='PETTY CASH' AND SUBTIME(BLSF.TIMESTAMP,'08:00:00')=EPC.EPC_TIMESTAMP;

-- HOUSE KEEPING

SELECT*FROM EXPENSE_HOUSEKEEPING;

SELECT*FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING';

-- EMP ID

SELECT  DISTINCT EXP_HK_CLEANER_NAME FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING';

SELECT  DISTINCT EMP_ID FROM EXPENSE_HOUSEKEEPING;

SELECT DISTINCT BLSF.EXP_HK_CLEANER_NAME,EHK.EMP_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF
INNER JOIN EMPLOYEE_DETAILS ED ON BLSF.EXP_HK_CLEANER_NAME=CONCAT(ED.EMP_FIRST_NAME,' ', ED.EMP_LAST_NAME) OR BLSF.EXP_HK_CLEANER_NAME=ED.EMP_FIRST_NAME
INNER JOIN EXPENSE_HOUSEKEEPING EHK ON ED.EMP_ID = EHK.EMP_ID
WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING';

-- WORK DATE;

SELECT DISTINCT EHK_WORK_DATE FROM EXPENSE_HOUSEKEEPING;

SELECT DISTINCT BLSF.EXP_HK_WORK_DATE,EHK.EHK_WORK_DATE 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_HOUSEKEEPING EHK
WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING' AND BLSF.EXP_HK_WORK_DATE=EHK.EHK_WORK_DATE;

-- DURATION

SELECT  DISTINCT EXP_HK_DURATION FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING';

SELECT  DISTINCT EHK_DURATION FROM EXPENSE_HOUSEKEEPING;

SELECT DISTINCT BLSF.EXP_HK_DURATION,EHK.EHK_DURATION
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_HOUSEKEEPING EHK 
WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING' AND BLSF.EXP_HK_DURATION=EHK.EHK_DURATION;

-- DESCRIPTION 'AMT:20,618,I DON’T HAVE RECORD ON THIS. CLAIMING FOR 2 HOURS OT,  THE DURATION WAS EMPTY, BT MIGRATED WTH DUMMY DATA'

SELECT DISTINCT EXP_HK_DESCRIPTION FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING' AND EXP_HK_DESCRIPTION IS NOT NULL;

SELECT DISTINCT EHK_DESCRIPTION FROM EXPENSE_HOUSEKEEPING WHERE EHK_DESCRIPTION IS NOT NULL;

SELECT DISTINCT BLSF.EXP_HK_DESCRIPTION,EHK.EHK_DESCRIPTION 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_HOUSEKEEPING EHK
WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING' AND BLSF.EXP_HK_DESCRIPTION=EHK.EHK_DESCRIPTION;

SELECT EE.EHK_DESCRIPTION
FROM   EXPENSE_HOUSEKEEPING EE
WHERE  NOT EXISTS (SELECT BLSF.EXP_HK_DESCRIPTION
FROM   SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF
WHERE  BLSF.EXP_HK_DESCRIPTION=EE.EHK_DESCRIPTION);

SELECT * FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_HK_DESCRIPTION='AMT:20,618,I DON’T HAVE RECORD ON THIS. CLAIMING FOR 2 HOURS OT,  THE DURATION WAS EMPTY, BT MIGRATED WTH DUMMY DATA';

SELECT * FROM EXPENSE_HOUSEKEEPING WHERE EHK_DESCRIPTION='AMT:20,618,I DON�T HAVE RECORD ON THIS. CLAIMING FOR 2 HOURS OT,  THE DURATION WAS EMPTY, BT MIGRATED WTH DUMMY DATA';

SELECT * FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_HK_WORK_DATE='2012-04-20';

-- ULD_ID

SELECT DISTINCT ULD_ID FROM EXPENSE_HOUSEKEEPING;

SELECT DISTINCT A.USERSTAMP,B.ULD_LOGINID,B.ULD_ID,C.ULD_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN USER_LOGIN_DETAILS B ON A.USERSTAMP= B.ULD_LOGINID
INNER JOIN EXPENSE_HOUSEKEEPING  C ON B.ULD_ID=C.ULD_ID;

-- TIMESTAMP

SELECT DISTINCT TIMESTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING';

SELECT DISTINCT EHK_TIMESTAMP FROM EXPENSE_HOUSEKEEPING ;

SELECT DISTINCT SUBTIME(BLSF.TIMESTAMP,'08:00:00'),EHK.EHK_TIMESTAMP
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_HOUSEKEEPING EHK 
WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING' AND SUBTIME(BLSF.TIMESTAMP,'08:00:00')=EHK.EHK_TIMESTAMP;

-- HOUSE KEEPING PAYMENT

SELECT*FROM EXPENSE_HOUSEKEEPING_PAYMENT;

SELECT*FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT';

-- UNIT_ID

SELECT DISTINCT EXP_HKP_UNIT_NO FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT';

SELECT DISTINCT UNIT_ID FROM EXPENSE_HOUSEKEEPING_PAYMENT WHERE UNIT_ID IS NOT NULL;

SELECT EHKU_UNIT_NO FROM EXPENSE_HOUSEKEEPING_UNIT;

SELECT DISTINCT A.EXP_HKP_UNIT_NO,B.UNIT_NO ,B.UNIT_ID , C.UNIT_ID 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN UNIT B ON A.EXP_HKP_UNIT_NO=B.UNIT_NO 
INNER JOIN EXPENSE_HOUSEKEEPING_PAYMENT C ON  B.UNIT_ID = C.UNIT_ID;

SELECT DISTINCT A.EXP_HKP_UNIT_NO,B.EHKU_UNIT_NO, B.EHKU_ID , C.EHKU_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN EXPENSE_HOUSEKEEPING_UNIT B ON A.EXP_HKP_UNIT_NO= B.EHKU_UNIT_NO
INNER JOIN EXPENSE_HOUSEKEEPING_PAYMENT C ON  B.EHKU_ID = C.EHKU_ID;

-- FOR PERIOD

SELECT DISTINCT EXP_HKP_FOR_PERIOD FROM  SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT';

SELECT DISTINCT EHKP_FOR_PERIOD FROM EXPENSE_HOUSEKEEPING_PAYMENT;

SELECT DISTINCT BLSF.EXP_HKP_FOR_PERIOD,HKP.EHKP_FOR_PERIOD
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_HOUSEKEEPING_PAYMENT HKP 
WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT' AND BLSF.EXP_HKP_FOR_PERIOD=HKP.EHKP_FOR_PERIOD;

-- PAID DATE

SELECT DISTINCT EXP_HKP_PAID_DATE FROM  SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT';

SELECT DISTINCT EHKP_PAID_DATE FROM EXPENSE_HOUSEKEEPING_PAYMENT;

SELECT DISTINCT BLSF.EXP_HKP_PAID_DATE,HKP.EHKP_PAID_DATE 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_HOUSEKEEPING_PAYMENT HKP 
WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT' AND BLSF.EXP_HKP_PAID_DATE=HKP.EHKP_PAID_DATE;

-- AMOUNT

SELECT DISTINCT EXP_HKP_AMOUNT FROM  SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT';

SELECT DISTINCT EHKP_AMOUNT FROM EXPENSE_HOUSEKEEPING_PAYMENT;

SELECT DISTINCT BLSF.EXP_HKP_AMOUNT,HKP.EHKP_AMOUNT
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_HOUSEKEEPING_PAYMENT HKP 
WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT' AND BLSF.EXP_HKP_AMOUNT=HKP.EHKP_AMOUNT;

-- COMMENTS 'PAYMENT FOR SERVICE OF APARTMENT RENDERED ON – 01,15, 22 AND 29 AUGUST 2013'

SELECT DISTINCT EXP_HKP_COMMENTS FROM  SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT';

SELECT DISTINCT EHKP_COMMENTS FROM EXPENSE_HOUSEKEEPING_PAYMENT;

SELECT DISTINCT BLSF.EXP_HKP_COMMENTS,HKP.EHKP_COMMENTS 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_HOUSEKEEPING_PAYMENT HKP 
WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT' AND BLSF.EXP_HKP_COMMENTS=HKP.EHKP_COMMENTS;

SELECT EE.EHKP_COMMENTS
FROM   EXPENSE_HOUSEKEEPING_PAYMENT EE
WHERE  NOT EXISTS (SELECT EXP_HKP_COMMENTS
FROM    SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF
WHERE  BLSF.EXP_HKP_COMMENTS=EE.EHKP_COMMENTS);

SELECT * FROM  EXPENSE_HOUSEKEEPING_PAYMENT WHERE  EHKP_COMMENTS='PAYMENT FOR SERVICE OF APARTMENT RENDERED ON � 01,15, 22 AND 29 AUGUST 2013';

SELECT * FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_HKP_PAID_DATE='2013-08-30';

-- ULD ID

SELECT DISTINCT A.USERSTAMP,B.ULD_LOGINID,B.ULD_ID,C.ULD_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A 
INNER JOIN USER_LOGIN_DETAILS B ON A.USERSTAMP= B.ULD_LOGINID
INNER JOIN EXPENSE_HOUSEKEEPING_PAYMENT  C ON B.ULD_ID=C.ULD_ID;

-- TIMESTAMP

SELECT DISTINCT TIMESTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT';

SELECT DISTINCT EHKP_TIMESTAMP FROM EXPENSE_HOUSEKEEPING_PAYMENT;

SELECT DISTINCT SUBTIME(BLSF.TIMESTAMP,'08:00:00'),EHKP.EHKP_TIMESTAMP
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_HOUSEKEEPING_PAYMENT EHKP 
WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT' AND SUBTIME(BLSF.TIMESTAMP,'08:00:00')=EHKP.EHKP_TIMESTAMP;

-- HOUSE KEEPING UNIT

SELECT*FROM EXPENSE_HOUSEKEEPING_UNIT;

-- UNIT_ID

SELECT DISTINCT EXP_HKP_UNIT_NO FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT';

SELECT DISTINCT EHKU_UNIT_NO FROM EXPENSE_HOUSEKEEPING_UNIT;

SELECT DISTINCT BLSF.EXP_HKP_UNIT_NO,HKP.EHKU_UNIT_NO 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_HOUSEKEEPING_UNIT HKP
WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT' AND BLSF.EXP_HKP_UNIT_NO=HKP.EHKU_UNIT_NO;

-- ULD ID

SELECT DISTINCT A.USERSTAMP,B.ULD_LOGINID,B.ULD_ID,C.ULD_ID
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT A
INNER JOIN USER_LOGIN_DETAILS B ON A.USERSTAMP= B.ULD_LOGINID
INNER JOIN EXPENSE_HOUSEKEEPING_UNIT  C ON B.ULD_ID=C.ULD_ID;

-- EHKU_TIMESTAMP

SELECT DISTINCT TIMESTAMP FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING';

SELECT DISTINCT EHKU_TIMESTAMP FROM EXPENSE_HOUSEKEEPING_UNIT;

SELECT DISTINCT SUBTIME(BLSF.TIMESTAMP,'08:00:00'),EHKP.EHKU_TIMESTAMP 
FROM SOURCE_12072014.BIZ_DAILY_SCDB_FORMAT BLSF,EXPENSE_HOUSEKEEPING_UNIT EHKP 
WHERE EXP_TYPE_OF_EXPENSE='HOUSE KEEPING PAYMENT' AND SUBTIME(BLSF.TIMESTAMP,'08:00:00')=EHKP.EHKU_TIMESTAMP;

